<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../resources/icon-smart-home.png">
    <title>Sign In!</title>
    <link rel="stylesheet" href="log-in.css">
    <script src="log-in.js"></script>
</head>
<body>
    <div class="main">
        <div class="overlay">
            <div class="hello-text">Welcome Home!</div>
            <input type="text" class="login-textbox" placeholder="Username">
            <input type="password" class="login-textbox" placeholder="Password">
            <button class="login-button" onclick="signIn()">Sign In</button>
        </div>
    </div>
</body>
</html>