<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../resources/icon-smart-home.png">
    <title>Smart Home Dashboard</title>
    <link rel="stylesheet" href="homepage.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-image: url('../../resources/bg-homepage.jpg');">

    <div id="main" class="main" style="display: flex;">
        <div class="side-menu">
            <div class="profile">
                <img class="profile-picture" src="../../resources/pfp-placeholder.jpg">
                <div id="lblFullName" class="user-name">John Doe</div>

            </div>
            <div id="divRoomButtons" class="room-list">
                <h1 class="p-1 text-slate-400">Add a room!</h1>
                <!-- Rooms will be dynamically inserted here ya habibi-->
            </div>
            <div class="bottom">
                <button id="btnNewRoom">New Room</button>
                <button>Options</button>
                <button id="btnSignOut">Sign Out</button>
            </div>
        </div>
        <div class="widget-grid">
             <div class="widget" style="width: fit-content; height: fit-content;" draggable="true">
                <h2 id="time-header">00:00</h2>
                <h2>☁︎ ⁺₊ 8 C˚</h2>
                <h5 id="date-header">Wednesday, 31st January 2024</h5>
            </div><!-- 
            <div class="widget" style="width: 100px; height: 100px;">
                <h3>Thermostat</h3>
                <h4>22 C˚</h4>
            </div>
            <div class="widget" style="width: 400px; height: fit-content;">
                <h3>Front Door Camera</h3>
                <video id="front-door-cam" width="640" height="360" loop muted autoplay>
                    <source src="../../resources/vid-frontdoor-camera.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div id="btnToggleMute" class="mute-button" style="cursor: pointer;">
                    🔇 Mute
                </div> -->
        </div>
    </div>
    <button id="btnNewWidgetDialog"
        class="floating-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow-lg">+</button>
    </div>



    <div id="overlay" class="overlay"></div>

    <div id="new-room-dialog" class="dialog">
        <h2 class="text-lg font-semibold mb-4">Name of new room or category:</h2>
        <input type="text" id="room-name-input" class="border rounded px-3 py-2 mb-2">
        <button id="btnSubmitNewRoom"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
    </div>

    <div id="new-widget-dialog" class="dialog overflow-y-auto bg-opacity-40">
        <h2 class="text-lg font-semibold mb-4">Choose a new widget</h2>
        <div class="widget-grid p-3 w-full">
            <div class="widget" style="width: fit-content; height: 100px;">
                <h2>15:40 ☁︎ ⁺₊ 8 C˚</h2>
                <h5>Wednesday, 31st January 2024</h5>
            </div>
            <div class="widget" style="width: fit-content; height: 100px;">
                <h3>Thermostat Widget</h3>
                <h4>22 C˚</h4>
            </div>
            <div class="widget" style="width: 300 ;height: 300px;">
                <h3>Camera Widget</h3>
                <img src="../../resources/gif-security-camera-widget.gif" alt="Security Camera"
                    style="width:300px;height: fit-content;" class="">
            </div>
        </div>
        <button id="btnSubmitNewWidget"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right">Add</button>
    </div>

    <script type="module" src="homepage.js"></script>
</body>

</html>